*{
    margin: 0;
    padding: 0;
}
#main{
    width: 100%;
    height: 100%;
    background: linear-gradient(orangered,yellow);
}
nav{position: sticky;
    top: 0%;
     z-index: 5; 
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0vw 10vw;
}
.center{
    display: flex;
    gap: 50px;
}
a{
    text-decoration: none;
    color: white;
}
.fa-bars{
    font-size: 1.5vw;
    color: white;
}
.one{
    width: 100%;
    height: 100vh;
}
#fanta{
    position: absolute;
    left: 32%;
    top: 15%;
    z-index: 3;
}
#orange-cut{position: absolute;
    left: 35%;
    top: 5%;
    width: 20%;
    z-index: 2;
}
#orange{
    width: 15%;
    position: absolute;
    top: 60%;
    right: 35%;
     z-index: 4; 
}
.one h1{
    font-size: 20vw;
    color: white;
    margin-left: 15vw;
    margin-top: 5vw;
}
#leaf3{
    position: absolute;
    top: 5%;
    right: 0;
    transform: rotate(-60deg);
    width: 25%;
}
#leaf{
    position: absolute;
    top: 10%;
    left: 5%;
    width: 15%;
    transform: rotate(50deg);
}
#leaf2{
    position: absolute;
    width: 15%;
    right: 10%;
    top: 60%;
    transform: rotate(-60deg);
}
.two{
    display: flex;
    width: 100%;
    height: 100vh;
    background:linear-gradient(black,maroon);
}
.left,.right{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
    width: 50%;
    height: 100%;   
}
.left svg{
    width: 60%;
    transform: rotate(40deg);
    margin-top: 40vh;
    
}
.right h1{
    font-size: 5vw;
    color: white;
}
.right p{
    font-size: 1vw;
    color: white;
    width: 80%;
} 
.three{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    width: 100%;
    height: 100vh;
    background: linear-gradient(orangered,yellow);
}
.card{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
    width: 25vw;
    height: 80vh;
    margin-top: 10vh;
    border-radius: 20px;
    background-color: orange;
    z-index: 1;
}
.card h2{
 margin-top: 60vh;
}
.card button{
    padding: 1vw;
    border-radius: 50px;
    border: none;
    background-color: yellow;
    color: white;
}
#coke{
    position: absolute;
    bottom: 35%;
    width: 60%;
}
#pepsi{
    position: absolute;
    width: 90%;
    bottom: 29%;
}
.lemon{
    position: absolute; 
    bottom: 65%;
    width: 80%;
}
#lemon1{
    position: absolute;
    bottom: 65%;
    width: 80%;
}


